* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
  }

  @import "./partials/partials/colors";
  @import "./partials/partials/header";
  @import "./partials/partials/layout";
  @import "./partials/partials/video";
  @import "./partials/partials/layout2";
  @import "./partials/partials/galeria";


  body{
    font-family: 'Sora', sans-serif;
    width: 100%;
    height: 100vh;
    position: relative;
}
  


button{
    font-family: 'Sora', sans-serif;
    cursor: pointer;
}
svg{
    width: 100%;
}

img{
    width: 100%;
}


a{
    cursor: pointer;
    text-decoration: none;
}
